@import "../../globalStyles/mixins";
@import "../../globalStyles/variables";

.drop-down {
  position: relative;
  width: 200px;
  min-width: 100px;
  height: 34px;
  padding: 0.5rem;
  padding-left: 0.8rem;
  border-radius: 0.3rem;
  background-color: rgba(lighten($light-gray, 15), 0.5);
  @include makeFlex(flex-start, center, row);
  @include makeTransition(0.3s, ease-in-out);

  &__selection {
    width: 100%;
    position: relative;
    @include makeFlex(space-between, center);

    &-label {
      position: absolute;
      font-size: 0.75rem;
      top: -0.4rem;
      opacity: 0;
      color: $light-gray;
      @include makeTransition(0.3s, ease-in-out);
    }

    &-selected {
      margin: 0;
      font-size: 0.8rem;
      color: $light-gray;
      @include makeTransition(0.3s, ease-in-out);
    }

    & i {
      color: $light-gray;
      font-size: 1.25rem;
      cursor: pointer;
      @include makeTransition(0.3s, ease-in-out);

      &:hover {
        color: $median-gray;
      }
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    min-height: 40px;
    left: 0;
    top: 55px;
    opacity: 0;
    padding: 1rem 0.5rem;
    max-height: 225px;
    border-radius: 0.3rem;
    transform: translateY(100px);
    pointer-events: none;
    background-color: $white;
    @include makeTransition(0.4s, ease-in-out);
    box-sizing: border-box;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: -10px;
  }
}
