@import "../../globalStyles/variables";
@import "../../globalStyles/mixins";

.property-list {
  position: fixed;
  max-width: 1200px;
  min-height: 150px;
  z-index: 10;
  width: 100%;
  bottom: 2rem;
  padding: 0 1rem;

  &__heading {
    position: absolute;
    top: -2rem;
    margin: 0;
  }

  & .swiper-container {
    height: 250px;
    overflow: visible;
    transform: translateX(-1rem);
  }

  &__item {
    height: 250px;
    min-width: 380px;
    padding: 0 1rem;
    @include makeFlex(center, flex-end);
  }
}
