/** Colors */
$dark: #000000;
$white: #ffffff;

$dark-gray: #2e2c2c;
$light-gray: #bebebe;
$median-gray: #666666;
$primary-light: #f5f5f5;

$primary-color: #6425ec;
$secondary-color: #ec6425;
$bright-green: #25ec64;
$bright-red: #ec2555;
$sky-blue: #3299cb;

/** Typography */
$primary-font-face: "Roboto Slab";
$secondary-font-face: "Lato";

$base-font-size: 18px;
