@import "../../globalStyles/variables";

.marker-container {
  position: relative;

  &__icon {
    position: absolute;
    left: -10px;
    top: -33px;
    font-size: 2rem;
    color: $sky-blue;
    pointer-events: none;

    &::before {
      width: 20px !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}
