@import "../../globalStyles/variables";
@import "../../globalStyles/mixins";

.navigation {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 1rem 1rem 0 1rem;

  @include makeFlex(flex-start, flex-end);
}
