@import "../../globalStyles/variables";
@import "../../globalStyles/mixins";

.navigation {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  max-width: 1200px;
  height: calc(52px + 1rem);
  padding: 1rem 1rem 0 1rem;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 165px 1fr 62px;
}
