@import "../../globalStyles/variables";
@import "../../globalStyles/mixins";

.pie-chart {
  position: absolute;
  right: 1rem;

  @include makeCasualCard();
  @include makeBgBlur();
  @include makeFlex(flex-start, center);
  padding: 1rem 0.8rem;

  &__icon {
    font-size: 1.3rem;
    color: $median-gray;
    position: relative;
    top: -2px;
    cursor: pointer;
    @include makeTransition(0.15s);

    &:hover {
      color: $sky-blue;
    }
  }
}
